@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&family=Staatliches&display=swap');
@import 'tailwindcss';
@plugin '@tailwindcss/forms';

@theme {
  --font-sans: 'Sen', sans-serif;
  --font-serif: 'Staatliches', sans-serif;
}